speechbrain==0.5.13
torch==2.6.0
torchaudio==2.6.0
ffmpeg-python==0.2.0 
streamlit==1.34.0
huggingface_hub>=0.23.0
torchvision>=0.15.0



# SYSTEM REQUIREMENT:
# ffmpeg must be installed and available in PATH
